USE [master]
GO
/****** Object:  Database [QLVT_UDPT]    Script Date: 9/11/2023 9:02:38 PM ******/
CREATE DATABASE [QLVT_UDPT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLVT_UDPT', FILENAME = N'D:\trankhang\Microsoft SQL Server\MSSQL15.MSSQLSERVER0\MSSQL\DATA\QLVT_UDPT.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLVT_UDPT_log', FILENAME = N'D:\trankhang\Microsoft SQL Server\MSSQL15.MSSQLSERVER0\MSSQL\DATA\QLVT_UDPT_log.ldf' , SIZE = 204800KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLVT_UDPT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLVT_UDPT]
GO
/****** Object:  User [HTKN]    Script Date: 9/11/2023 9:02:39 PM ******/
CREATE USER [HTKN] FOR LOGIN [HTKN] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [MSmerge_PAL_role]    Script Date: 9/11/2023 9:02:39 PM ******/
CREATE ROLE [MSmerge_PAL_role]
GO
/****** Object:  DatabaseRole [MSmerge_D00943BBB7334615BA576B65438E2F2F]    Script Date: 9/11/2023 9:02:39 PM ******/
CREATE ROLE [MSmerge_D00943BBB7334615BA576B65438E2F2F]
GO
/****** Object:  DatabaseRole [MSmerge_B428B943915944F0BE26CEAC3A5A2E55]    Script Date: 9/11/2023 9:02:39 PM ******/
CREATE ROLE [MSmerge_B428B943915944F0BE26CEAC3A5A2E55]
GO
ALTER ROLE [db_owner] ADD MEMBER [HTKN]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_D00943BBB7334615BA576B65438E2F2F]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_B428B943915944F0BE26CEAC3A5A2E55]
GO
/****** Object:  Schema [MSmerge_PAL_role]    Script Date: 9/11/2023 9:02:39 PM ******/
CREATE SCHEMA [MSmerge_PAL_role]
GO
/****** Object:  Table [dbo].[KHO]    Script Date: 9/11/2023 9:02:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHO](
	[MAKHO] [nchar](4) NOT NULL,
	[TENKHO] [nvarchar](50) NOT NULL,
	[DIACHI] [nvarchar](50) NOT NULL,
	[MACN] [nchar](10) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_KHO] PRIMARY KEY CLUSTERED 
(
	[MAKHO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuNhap]    Script Date: 9/11/2023 9:02:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuNhap](
	[SoPN] [nchar](10) NOT NULL,
	[NGAY] [date] NOT NULL,
	[MADDH] [nchar](10) NOT NULL,
	[MAKHO] [nchar](4) NOT NULL,
	[MANV] [int] NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_PhieuNhap] PRIMARY KEY CLUSTERED 
(
	[SoPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HangHoa]    Script Date: 9/11/2023 9:02:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HangHoa](
	[MAHH] [nchar](10) NOT NULL,
	[TENHH] [nvarchar](50) NOT NULL,
	[DVT] [nchar](10) NOT NULL,
	[SOLUONGTON] [int] NOT NULL,
	[MALH] [nvarchar](10) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_HangHoa] PRIMARY KEY CLUSTERED 
(
	[MAHH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TENHH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTPN]    Script Date: 9/11/2023 9:02:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPN](
	[SoPN] [nchar](10) NOT NULL,
	[MAHH] [nchar](10) NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[DONGIA] [float] NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VIEW_SLT_KHO]    Script Date: 9/11/2023 9:02:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[VIEW_SLT_KHO]
as
select hh.MAHH, hh.TENHH, k.MAKHO, sum(ctpn.SOLUONG) as total
from HangHoa as hh
inner join CTPN as ctpn on hh.MAHH = ctpn.MAHH
inner join PhieuNhap as pn on pn.SoPN= ctpn.SoPN
inner join KHO as k on k.MAKHO = pn.MAKHO
group by hh.MAHH, hh.TENHH, k.MAKHO
GO
/****** Object:  View [dbo].[V_DS_PHANMANH]    Script Date: 9/11/2023 9:02:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_DS_PHANMANH]
AS
SELECT  TENCN=PUBS.name, TENSERVER= subscriber_server
   FROM dbo.sysmergepublications PUBS,  dbo.sysmergesubscriptions SUBS
   WHERE PUBS.pubid= SUBS.PUBID  AND PUBS.publisher <> SUBS.subscriber_server
GO
/****** Object:  Table [dbo].[ChiNhanh]    Script Date: 9/11/2023 9:02:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiNhanh](
	[MACN] [nchar](10) NOT NULL,
	[TenCN] [nvarchar](100) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_ChiNhanh] PRIMARY KEY CLUSTERED 
(
	[MACN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MACN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTDDH]    Script Date: 9/11/2023 9:02:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTDDH](
	[MADDH] [nchar](10) NOT NULL,
	[MAHH] [nchar](10) NOT NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [float] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTHD]    Script Date: 9/11/2023 9:02:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHD](
	[SOHD] [nchar](10) NOT NULL,
	[MAHH] [nchar](10) NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[DONGIA] [float] NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonDatHang]    Script Date: 9/11/2023 9:02:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonDatHang](
	[MADDH] [nchar](10) NOT NULL,
	[Ngay] [date] NOT NULL,
	[MAKHO] [nchar](4) NOT NULL,
	[MANV] [int] NOT NULL,
	[MANCC] [nvarchar](50) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_DonDatHang] PRIMARY KEY CLUSTERED 
(
	[MADDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 9/11/2023 9:02:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[SOHD] [nchar](10) NOT NULL,
	[MAKH] [nchar](10) NOT NULL,
	[NGAY] [date] NOT NULL,
	[MANV] [int] NOT NULL,
	[MAKHO] [nchar](4) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[SOHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 9/11/2023 9:02:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MAKH] [nchar](10) NOT NULL,
	[TEN] [nvarchar](50) NOT NULL,
	[DIACHI] [nvarchar](100) NOT NULL,
	[SDT] [int] NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiHang]    Script Date: 9/11/2023 9:02:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiHang](
	[MALH] [nvarchar](10) NOT NULL,
	[TENLH] [nvarchar](50) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_LoaiHang] PRIMARY KEY CLUSTERED 
(
	[MALH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TENLH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 9/11/2023 9:02:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[MANCC] [nvarchar](50) NOT NULL,
	[TEN] [nvarchar](50) NOT NULL,
	[DIACHI] [nvarchar](50) NOT NULL,
	[SODIENTHOAI] [nchar](10) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_NhaCungCap] PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 9/11/2023 9:02:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MANV] [int] NOT NULL,
	[TEN] [nvarchar](50) NOT NULL,
	[SDT] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[Trangthai] [bit] NULL,
	[MACN] [nchar](10) NOT NULL,
	[HO] [nvarchar](50) NOT NULL,
	[LUONG] [decimal](10, 2) NOT NULL,
	[GIOITINH] [nchar](5) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_581577110]    Script Date: 9/11/2023 9:02:39 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_581577110] ON [dbo].[ChiNhanh]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_2005582183]    Script Date: 9/11/2023 9:02:39 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_2005582183] ON [dbo].[CTDDH]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_1957582012]    Script Date: 9/11/2023 9:02:39 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_1957582012] ON [dbo].[CTHD]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_1909581841]    Script Date: 9/11/2023 9:02:39 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_1909581841] ON [dbo].[CTPN]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_661577395]    Script Date: 9/11/2023 9:02:39 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_661577395] ON [dbo].[DonDatHang]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_1861581670]    Script Date: 9/11/2023 9:02:39 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_1861581670] ON [dbo].[HangHoa]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_725577623]    Script Date: 9/11/2023 9:02:39 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_725577623] ON [dbo].[HOADON]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_757577737]    Script Date: 9/11/2023 9:02:39 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_757577737] ON [dbo].[KhachHang]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_789577851]    Script Date: 9/11/2023 9:02:39 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_789577851] ON [dbo].[KHO]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_821577965]    Script Date: 9/11/2023 9:02:39 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_821577965] ON [dbo].[LoaiHang]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_853578079]    Script Date: 9/11/2023 9:02:39 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_853578079] ON [dbo].[NhaCungCap]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_885578193]    Script Date: 9/11/2023 9:02:39 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_885578193] ON [dbo].[NhanVien]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_917578307]    Script Date: 9/11/2023 9:02:39 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_917578307] ON [dbo].[PhieuNhap]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChiNhanh] ADD  CONSTRAINT [MSmerge_df_rowguid_779B2C75E3DE4A5E9CA041E4D91C619C]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[CTDDH] ADD  CONSTRAINT [MSmerge_df_rowguid_D2DE781BB8D34829BBF98E9DFB2B94B7]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[CTHD] ADD  CONSTRAINT [MSmerge_df_rowguid_FDF39A614E6844AF87A2A544A452995B]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[CTPN] ADD  CONSTRAINT [MSmerge_df_rowguid_24A96FF13D014BDE9841F07783C76EF0]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[DonDatHang] ADD  CONSTRAINT [MSmerge_df_rowguid_CBD53C081F844D9E863A6E0979D19CFD]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[HangHoa] ADD  CONSTRAINT [MSmerge_df_rowguid_F80CCC877AB04CE9900405A04B829F32]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[HOADON] ADD  CONSTRAINT [DF_HOADON_NGAY]  DEFAULT (getdate()) FOR [NGAY]
GO
ALTER TABLE [dbo].[HOADON] ADD  CONSTRAINT [MSmerge_df_rowguid_6F1B565150B547489F0A478504AB9317]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[KhachHang] ADD  CONSTRAINT [MSmerge_df_rowguid_61919FBEF6574C3D9FD9EA317976F78E]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[KHO] ADD  CONSTRAINT [MSmerge_df_rowguid_0F54AED7F1E04997ABC71D2AD601B080]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[LoaiHang] ADD  CONSTRAINT [MSmerge_df_rowguid_A4E5663422294D7493E0E5C11124EBAA]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[NhaCungCap] ADD  CONSTRAINT [MSmerge_df_rowguid_7BFFB9DF6083450A880738A5BFF5447E]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[NhanVien] ADD  DEFAULT ('Nam') FOR [GIOITINH]
GO
ALTER TABLE [dbo].[NhanVien] ADD  CONSTRAINT [MSmerge_df_rowguid_D879F381D4C74C19B79BEEA82429CD57]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[PhieuNhap] ADD  CONSTRAINT [MSmerge_df_rowguid_675128364C1C4F2894AC6688CC4966A2]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[CTDDH]  WITH CHECK ADD  CONSTRAINT [FK_CTDDH_DonDatHang] FOREIGN KEY([MADDH])
REFERENCES [dbo].[DonDatHang] ([MADDH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CTDDH] CHECK CONSTRAINT [FK_CTDDH_DonDatHang]
GO
ALTER TABLE [dbo].[CTDDH]  WITH CHECK ADD  CONSTRAINT [FK_CTDDH_HangHoa] FOREIGN KEY([MAHH])
REFERENCES [dbo].[HangHoa] ([MAHH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CTDDH] CHECK CONSTRAINT [FK_CTDDH_HangHoa]
GO
ALTER TABLE [dbo].[CTHD]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_HangHoa] FOREIGN KEY([MAHH])
REFERENCES [dbo].[HangHoa] ([MAHH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CTHD] CHECK CONSTRAINT [FK_CTHD_HangHoa]
GO
ALTER TABLE [dbo].[CTHD]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_HOADON] FOREIGN KEY([SOHD])
REFERENCES [dbo].[HOADON] ([SOHD])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CTHD] CHECK CONSTRAINT [FK_CTHD_HOADON]
GO
ALTER TABLE [dbo].[CTPN]  WITH CHECK ADD  CONSTRAINT [FK_CTPN_HangHoa] FOREIGN KEY([MAHH])
REFERENCES [dbo].[HangHoa] ([MAHH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CTPN] CHECK CONSTRAINT [FK_CTPN_HangHoa]
GO
ALTER TABLE [dbo].[CTPN]  WITH CHECK ADD  CONSTRAINT [FK_CTPN_PhieuNhap] FOREIGN KEY([SoPN])
REFERENCES [dbo].[PhieuNhap] ([SoPN])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CTPN] CHECK CONSTRAINT [FK_CTPN_PhieuNhap]
GO
ALTER TABLE [dbo].[DonDatHang]  WITH CHECK ADD  CONSTRAINT [FK_DonDatHang_NhanVien] FOREIGN KEY([MANV])
REFERENCES [dbo].[NhanVien] ([MANV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DonDatHang] CHECK CONSTRAINT [FK_DonDatHang_NhanVien]
GO
ALTER TABLE [dbo].[HangHoa]  WITH CHECK ADD  CONSTRAINT [FK_HangHoa_LoaiHang] FOREIGN KEY([MALH])
REFERENCES [dbo].[LoaiHang] ([MALH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[HangHoa] CHECK CONSTRAINT [FK_HangHoa_LoaiHang]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_NhanVien] FOREIGN KEY([MANV])
REFERENCES [dbo].[NhanVien] ([MANV])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_NhanVien]
GO
ALTER TABLE [dbo].[KHO]  WITH CHECK ADD  CONSTRAINT [FK_KHO_ChiNhanh] FOREIGN KEY([MACN])
REFERENCES [dbo].[ChiNhanh] ([MACN])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[KHO] CHECK CONSTRAINT [FK_KHO_ChiNhanh]
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_PhieuNhap_DonDatHang1] FOREIGN KEY([MADDH])
REFERENCES [dbo].[DonDatHang] ([MADDH])
GO
ALTER TABLE [dbo].[PhieuNhap] CHECK CONSTRAINT [FK_PhieuNhap_DonDatHang1]
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_PhieuNhap_NhanVien] FOREIGN KEY([MANV])
REFERENCES [dbo].[NhanVien] ([MANV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PhieuNhap] CHECK CONSTRAINT [FK_PhieuNhap_NhanVien]
GO
ALTER TABLE [dbo].[CTDDH]  WITH CHECK ADD  CONSTRAINT [CHK_DONGIACTDDH] CHECK  (([DONGIA]>=(0)))
GO
ALTER TABLE [dbo].[CTDDH] CHECK CONSTRAINT [CHK_DONGIACTDDH]
GO
ALTER TABLE [dbo].[CTDDH]  WITH CHECK ADD  CONSTRAINT [CHK_SOLUONGCTDDH] CHECK  (([SOLUONG]>(0)))
GO
ALTER TABLE [dbo].[CTDDH] CHECK CONSTRAINT [CHK_SOLUONGCTDDH]
GO
ALTER TABLE [dbo].[CTHD]  WITH CHECK ADD  CONSTRAINT [CHK_DONGIACTHD] CHECK  (([DONGIA]>=(0)))
GO
ALTER TABLE [dbo].[CTHD] CHECK CONSTRAINT [CHK_DONGIACTHD]
GO
ALTER TABLE [dbo].[CTHD]  WITH CHECK ADD  CONSTRAINT [CHK_SOLUONGCTHD] CHECK  (([SOLUONG]>(0)))
GO
ALTER TABLE [dbo].[CTHD] CHECK CONSTRAINT [CHK_SOLUONGCTHD]
GO
ALTER TABLE [dbo].[CTPN]  WITH CHECK ADD  CONSTRAINT [CHK_DONGIAPN] CHECK  (([DONGIA]>=(0)))
GO
ALTER TABLE [dbo].[CTPN] CHECK CONSTRAINT [CHK_DONGIAPN]
GO
ALTER TABLE [dbo].[CTPN]  WITH CHECK ADD  CONSTRAINT [CHK_SOLUONGPN] CHECK  (([SOLUONG]>(0)))
GO
ALTER TABLE [dbo].[CTPN] CHECK CONSTRAINT [CHK_SOLUONGPN]
GO
/****** Object:  StoredProcedure [dbo].[SP_CCN]    Script Date: 9/11/2023 9:02:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_CCN] 
	@MANV INT, 
	@MACN nchar(10)
AS
DECLARE @LGNAME VARCHAR(50)
DECLARE @USERNAME VARCHAR(50)
SET XACT_ABORT ON;
SET TRANSACTION ISOLATION LEVEL SERIALIZABLE;
BEGIN
	--BEGIN DISTRIBUTED TRAN
		DECLARE @HONV NVARCHAR(40)
		DECLARE @TENNV NVARCHAR(10)
		DECLARE @DIACHINV NVARCHAR(100)
		DECLARE @LUONGNV decimal(10,2)	
		DECLARE @SDT NVARCHAR(100)
		DECLARE @GT NCHAR(5)
		-- Lưu lại thông tin nhân viên cần chuyển chi nhánh để làm điều kiện kiểm tra
		SELECT @HONV = HO, @TENNV = TEN, @DIACHINV = DIACHI, @LUONGNV = LUONG, @SDT= SDT, @GT= GIOITINH FROM NhanVien WHERE MANV = @MANV

		-- Kiểm tra xem bên Site chuyển tới đã có dữ liệu nhân viên đó chưa. Nếu có rồi thì đổi trạng thái, chưa thì thêm vào
		IF @MACN = 'CN1'
		BEGIN
			IF EXISTS (
				SELECT MANV
				FROM LINK1.QLVT_UDPT.dbo.NhanVien
				WHERE HO = @HONV AND TEN = @TENNV AND DIACHI = @DIACHINV AND LUONG = @LUONGNV AND SDT = @SDT AND GIOITINH = @GT
			)
			BEGIN
				-- Update the existing record in link2
				UPDATE LINK1.QLVT_UDPT.dbo.NhanVien
				SET TrangThai = 0
				WHERE MANV = (
					SELECT MANV
					FROM LINK1.QLVT_UDPT.dbo.NhanVien
					WHERE HO = @HONV AND TEN = @TENNV AND DIACHI = @DIACHINV AND LUONG = @LUONGNV AND SDT = @SDT AND GIOITINH = @GT
				)
			END
			ELSE
			BEGIN
				-- Insert a new record into link2
				INSERT INTO LINK1.QLVT_UDPT.dbo.NhanVien (MANV, HO, TEN, DIACHI, LUONG, MACN, SDT, GIOITINH,TRANGTHAI)
				VALUES ((SELECT MAX(MANV) FROM LINK0.QLVT_UDPT.dbo.NhanVien) + 1, @HONV, @TENNV, @DIACHINV, @LUONGNV, @MACN, @SDT, @GT, 0)
			END
		END
		ELSE IF @MACN = 'CN2'
		BEGIN
			IF EXISTS (
				SELECT MANV
				FROM LINK2.QLVT_UDPT.dbo.NhanVien
				WHERE HO = @HONV AND TEN = @TENNV AND DIACHI = @DIACHINV AND LUONG = @LUONGNV AND SDT = @SDT AND GIOITINH = @GT
			)
			BEGIN
				-- Update the existing record in link1
				UPDATE LINK2.QLVT_UDPT.dbo.NhanVien
				SET TrangThai = 0
				WHERE MANV = (
					SELECT MANV
					FROM LINK2.QLVT_UDPT.dbo.NhanVien
					WHERE HO = @HONV AND TEN = @TENNV AND DIACHI = @DIACHINV AND LUONG = @LUONGNV AND SDT = @SDT AND GIOITINH = @GT
				)
			END
			ELSE
			BEGIN
				-- Insert a new record into link1
				INSERT INTO LINK2.QLVT_UDPT.dbo.NhanVien (MANV, HO, TEN, DIACHI, LUONG, MACN, SDT, GIOITINH, TRANGTHAI)
				VALUES ((SELECT MAX(MANV) FROM link1.QLVT_UDPT.dbo.NhanVien) + 1, @HONV, @TENNV, @DIACHINV, @LUONGNV, @MACN, @SDT, @GT, 0)
			END
		END

		-- Đổi trạng thái xóa đối với tài khoản cũ ở site hiện tại
		UPDATE dbo.NhanVien
		SET TrangThai = 1
		WHERE MANV = @MANV
		
	--COMMIT TRAN;

	-- Check if the employee has a login and drop it
	IF EXISTS (SELECT SUSER_SNAME(sid) FROM sys.sysusers WHERE name = CAST(@MANV AS NVARCHAR))
	BEGIN
		SET @LGNAME = CAST((SELECT SUSER_SNAME(sid) FROM sys.sysusers WHERE name = CAST(@MANV AS NVARCHAR)) AS VARCHAR(50))
		SET @USERNAME = CAST(@MANV AS VARCHAR(50))
		EXEC SP_DROPUSER @USERNAME;
		EXEC SP_DROPLOGIN @LGNAME;
	END
END

GO
/****** Object:  StoredProcedure [dbo].[SP_CLONE_CTDDH]    Script Date: 9/11/2023 9:02:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[SP_CLONE_CTDDH]
	 @SOPN NCHAR(10)
as
BEGIN
    INSERT INTO CTPN (SoPN, MAHH, SOLUONG, DONGIA)
    SELECT @SOPN AS SoPN, MAHH, SOLUONG, DONGIA
    FROM CTDDH
    WHERE MADDH = (select MADDH from PhieuNhap where SoPN= @SOPN);
END 
GO
/****** Object:  StoredProcedure [dbo].[sp_DangKy]    Script Date: 9/11/2023 9:02:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_DangKy]
  @USERNAME VARCHAR(50),
  @PASS VARCHAR(50),
  @MANV VARCHAR(50),
  @ROLE VARCHAR(50)
AS
  DECLARE @RET INT

  -- Tạo login từ biến LGNAME VÀ PASS
  EXEC @RET = SP_ADDLOGIN @USERNAME, @PASS,'QLVT_UDPT' 
  IF (@RET = 1)  -- LOGIN NAME BI TRUNG
     RETURN 1

  -- Thêm User vào CSDL hiện hành từ biến USERNAME
  EXEC @RET= SP_GRANTDBACCESS @USERNAME, @MANV 
  IF (@RET = 1)  -- USER  NAME BI TRUNG
  BEGIN
       EXEC SP_DROPLOGIN @USERNAME
       RETURN 2
  END

  -- Thêm Role NganHang hoặc ChiNhanh cho User từ biến USERNAME VÀ ROLE
  EXEC sp_addrolemember @ROLE, @MANV

RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[SP_DANGNHAP]    Script Date: 9/11/2023 9:02:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DANGNHAP]
@TENLOGIN NVARCHAR (50)
AS
DECLARE @TENUSER NVARCHAR(50)
SELECT @TENUSER=NAME FROM sys.sysusers WHERE sid = SUSER_SID(@TENLOGIN)
 
 SELECT USERNAME = @TENUSER, 
  HOTEN = (SELECT HO+ ' '+ TEN FROM NHANVIEN  WHERE MANV = @TENUSER ),
   TENNHOM= NAME
   FROM sys.sysusers 
   WHERE UID = (SELECT GROUPUID 
                 FROM SYS.SYSMEMBERS 
                   WHERE MEMBERUID= (SELECT UID FROM sys.sysusers 
                                      WHERE NAME=@TENUSER))
GO
/****** Object:  StoredProcedure [dbo].[sp_get_role]    Script Date: 9/11/2023 9:02:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_get_role]
    @manv INT
AS
BEGIN
    SELECT
        p.name AS EmployeeName,
        r.name AS RoleName
    FROM sys.database_principals AS p
    INNER JOIN sys.database_role_members AS rm ON p.principal_id = rm.member_principal_id
    INNER JOIN sys.database_principals AS r ON rm.role_principal_id = r.principal_id
    WHERE p.name = (SELECT MANV FROM NhanVien WHERE MANV = @manv);
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GIAMSL]    Script Date: 9/11/2023 9:02:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GIAMSL]
   @MAHH NCHAR(10), @SOLUONG INT
AS
BEGIN
	SET XACT_ABORT ON 
	BEGIN DISTRIBUTED TRANSACTION;

-- Update SOLUONG from local instance.
	UPDATE DBO.HangHoa
	SET SOLUONGTON = SOLUONGTON - @SOLUONG
	WHERE MAHH = @MAHH

  COMMIT TRANSACTION;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GIAMSL_KHO_PN]    Script Date: 9/11/2023 9:02:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[SP_GIAMSL_KHO_PN]
   @MAHH NCHAR(10),  @SOLUONG INT
AS
BEGIN
	SET XACT_ABORT ON 
	BEGIN DISTRIBUTED TRANSACTION;

-- Update SOLUONG from local instance.
	UPDATE DBO.HangHoa
	SET SOLUONGTON = SOLUONGTON - @SOLUONG
	WHERE MAHH = @MAHH

  COMMIT TRANSACTION;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ListNV]    Script Date: 9/11/2023 9:02:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_ListNV]
@CN nvarchar(50)
AS
begin
select TEN, HO
from NhanVien
where MACN = @CN
order by TEN, HO
end
GO
/****** Object:  StoredProcedure [dbo].[SP_REPORTChitiethangNhapXuat_NV]    Script Date: 9/11/2023 9:02:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROC [dbo].[SP_REPORTChitiethangNhapXuat_NV]
@ROLE NVARCHAR(8),@LOAI NVARCHAR(4), @THANGFROM INT, @NAMFROM INT, @THANGTO INT, @NAMTO INT
AS
BEGIN
	IF (@ROLE = 'CONGTY')
	BEGIN
		IF (@LOAI = 'NHAP')
		BEGIN
			SELECT NGAY,TENHH, TRIGIA=SOLUONG * DONGIA
			FROM (SELECT MAHH, TENHH FROM HangHoa) HANGHOA,
				((SELECT SoPN , NGAY FROM PhieuNhap WHERE (YEAR(NGAY) >= @NAMFROM AND MONTH(NGAY)>=@THANGFROM) AND (YEAR(NGAY) <= @NAMTO AND MONTH(NGAY)<=@THANGTO))
				UNION
				(SELECT SoPN,NGAY FROM LINK1.QLVT_UDPT.dbo.PhieuNhap WHERE (YEAR(NGAY) >= @NAMFROM AND MONTH(NGAY)>=@THANGFROM) AND (YEAR(NGAY) <= @NAMTO AND MONTH(NGAY)<=@THANGTO))) PN,
				(SELECT * FROM CTPN UNION SELECT * FROM LINK1.QLVT_UDPT.dbo.CTPN) CT
			WHERE (HANGHOA.MAHH = CT.MAHH) AND(PN.SoPN=CT.SoPN)
			ORDER BY NGAY 
		END
		ELSE
		BEGIN
			SELECT NGAY,TENHH, TRIGIA=SOLUONG * DONGIA
			FROM (SELECT MAHH, TENHH FROM HangHoa) HangHoa,
				((SELECT SOHD,NGAY FROM HOADON WHERE (YEAR(NGAY) >= @NAMFROM AND MONTH(NGAY)>=@THANGFROM) AND (YEAR(NGAY) <= @NAMTO AND MONTH(NGAY)<=@THANGTO)) 
				UNION
				(SELECT SOHD,NGAY FROM LINK1.QLVT_UDPT.dbo.HOADON WHERE (YEAR(NGAY) >= @NAMFROM AND MONTH(NGAY)>=@THANGFROM) AND (YEAR(NGAY) <= @NAMTO AND MONTH(NGAY)<=@THANGTO))) PX,
				(SELECT * FROM CTHD UNION SELECT * FROM LINK1.QLVT_UDPT.dbo.CTHD) CT
			WHERE (HangHoa.MAHH = CT.MAHH) AND(PX.SOHD=CT.SOHD)
			ORDER BY NGAY 
		END
	END
	ELSE
	BEGIN
		IF (@LOAI = 'NHAP')
		BEGIN
			SELECT NGAY,TENHH, SOLUONG, TRIGIA=SOLUONG * DONGIA
			FROM CTPN CT, 
				(SELECT MAHH, TENHH FROM HANGHOA) HANGHOA,
				(SELECT SoPN,NGAY FROM PhieuNhap WHERE (YEAR(NGAY) >= @NAMFROM AND MONTH(NGAY)>=@THANGFROM) AND (YEAR(NGAY) <= @NAMTO AND MONTH(NGAY)<=@THANGTO)) PN
			WHERE (HANGHOA.MAHH = CT.MAHH) AND(PN.SoPN=CT.SoPN) 
		END
		ELSE
		BEGIN
			SELECT NGAY,TENHH, SOLUONG, TRIGIA=SOLUONG * DONGIA
			FROM CTHD CT, 
			(SELECT MAHH, TENHH FROM HANGHOA) HANGHOA,
			(SELECT SOHD,NGAY FROM HOADON WHERE (YEAR(NGAY) >= @NAMFROM AND MONTH(NGAY)>=@THANGFROM) AND (YEAR(NGAY) <= @NAMTO AND MONTH(NGAY)<=@THANGTO)) PX
			WHERE (HangHoa.MAHH = CT.MAHH) AND(PX.SOHD = CT.SOHD) 
		END
	END
END


GO
/****** Object:  StoredProcedure [dbo].[SP_REPORTDonhangkhongcoPhieuNhap]    Script Date: 9/11/2023 9:02:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROC [dbo].[SP_REPORTDonhangkhongcoPhieuNhap]
AS
SELECT DH.MADDH,Ngay,MANCC,TenNV, TENHH, SOLUONG, DONGIA 
FROM
	(SELECT MADDH,Ngay,MANCC, MANV FROM dbo.DonDatHang
	WHERE DonDatHang.MADDH not in (
	SELECT MADDH FROM dbo.PhieuNhap)) DH,
	(SELECT MANV,TENNV = TEN FROM dbo.NhanVien) NV,
	(SELECT MAHH,TENHH FROM dbo.HangHoa) VT,
	CTDDH CT
WHERE (NV.MANV = DH.MANV) AND (VT.MAHH =CT.MAHH) AND (CT.MADDH = DH.MADDH)
GO
/****** Object:  StoredProcedure [dbo].[SP_REPORTTonghopNhapXuat_NV]    Script Date: 9/11/2023 9:02:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create PROC [dbo].[SP_REPORTTonghopNhapXuat_NV]
	@NGAYBD date, @NGAYKT date
AS
BEGIN
	SET NOCOUNT ON;
		IF 1=0 BEGIN
			SET FMTONLY OFF
		END
		SELECT	PN.NGAY,
				NHAP = SUM(CTPN.SOLUONG * CTPN.DONGIA), 
				TYLENHAP = (SUM(CTPN.SOLUONG * CTPN.DONGIA) / (SELECT SUM(SOLUONG*DONGIA) FROM CTPN INNER JOIN PhieuNhap ON CTPN.SoPN=PhieuNhap.SoPN WHERE NGAY BETWEEN @NGAYBD AND @NGAYKT)) INTO #PhieuNhapTemp
		FROM PhieuNhap AS PN
			INNER JOIN (SELECT * FROM CTPN) AS CTPN 
			ON PN.SoPN = CTPN.SoPN
		WHERE NGAY BETWEEN @NGAYBD AND @NGAYKT
		GROUP BY PN.NGAY

		SELECT	PX.NGAY,
				XUAT = SUM(CTHD.SOLUONG * CTHD.DONGIA),
				TYLEXUAT = (SUM(CTHD.SOLUONG * CTHD.DONGIA) / (SELECT SUM(SOLUONG*DONGIA) FROM CTHD INNER JOIN HOADON ON CTHD.SOHD=HOADON.SOHD WHERE NGAY BETWEEN @NGAYBD AND @NGAYKT))  INTO #PhieuXuatTemp
		FROM HOADON AS PX
			INNER JOIN (SELECT * FROM CTHD) AS CTHD
			ON PX.SOHD = CTHD.SOHD
		WHERE NGAY BETWEEN @NGAYBD AND @NGAYKT
		GROUP BY PX.NGAY				

		SELECT 
		ISNULL(PN.NGAY, PX.NGAY) AS NGAY, --
		ISNULL(PN.NHAP, 0) AS NHAP,
		ISNULL(PN.TYLENHAP, 0) AS TYLENHAP,
		ISNULL(PX.XUAT, 0) AS XUAT,
		ISNULL(PX.TYLEXUAT, 0) AS TYLEXUAT
		FROM #PhieuNhapTemp AS PN
		FULL JOIN #PhieuXuatTemp AS PX
		ON PN.NGAY = PX.NGAY
		ORDER BY NGAY
END
GO
/****** Object:  StoredProcedure [dbo].[SP_RP_DSVATTU]    Script Date: 9/11/2023 9:02:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROC [dbo].[SP_RP_DSVATTU]
AS
	SELECT MAHH, TENHH, DVT FROM dbo.HangHoa ORDER BY TENHH
GO
/****** Object:  StoredProcedure [dbo].[SP_RP_HoatDongCuaNhanVien]    Script Date: 9/11/2023 9:02:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROC [dbo].[SP_RP_HoatDongCuaNhanVien]
@MANV INT, @FROM DATE, @TO DATE, @LOAI CHAR
AS
BEGIN
	IF (@LOAI = 'N')
		BEGIN
			SELECT FORMAT(PN.NGAY,'MMMM yyyy') AS THANGNAM, -- Group theo mẫu
				   PN.NGAY, PN.SoPN AS MAPHIEU, N'Không có' AS TENHH, TENKHO, CTPN.SOLUONG, CTPN.DONGIA, THANHTIEN = SOLUONG * DONGIA
			FROM (SELECT SoPN, NGAY, TENKHO = (SELECT TENKHO FROM KHO WHERE KHO.MAKHO = PNP.MAKHO) FROM dbo.PhieuNhap as PNP WHERE MANV = @MANV AND NGAY BETWEEN @FROM AND @TO) PN,
				 CTPN,
				 (SELECT TENHH, MAHH FROM HangHoa) HH
			WHERE HH.MAHH = CTPN.MAHH AND CTPN.SoPN = PN.SoPN
		END
	ELSE
		BEGIN
			SELECT FORMAT(PX.NGAY,'MMMM yyyy') AS THANGNAM, -- Group theo mẫu
					PX.NGAY, PX.SOHD AS MAPHIEU, TENHH, TENKHO, CTHD.SOLUONG, CTHD.DONGIA, THANHTIEN = SOLUONG * DONGIA
			FROM (SELECT SOHD, NGAY, TENKHO = (SELECT TENKHO FROM KHO WHERE KHO.MAKHO = PXT.MAKHO) FROM dbo.HOADON as PXT WHERE MANV = @MANV AND NGAY BETWEEN @FROM AND @TO) PX,
				 CTHD,
				 (SELECT TENHH, MAHH FROM HangHoa) VT
			WHERE VT.MAHH = CTHD.MAHH AND CTHD.SOHD = PX.SoHD
		END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TANGSL]    Script Date: 9/11/2023 9:02:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_TANGSL]
   @MAHH NCHAR(10), @SOLUONG INT
AS
BEGIN
	SET XACT_ABORT ON 
	BEGIN DISTRIBUTED TRANSACTION;

-- Update SOLUONG from local instance.
	UPDATE DBO.HangHoa
	SET SOLUONGTON = SOLUONGTON + @SOLUONG
	WHERE MAHH = @MAHH

  COMMIT TRANSACTION;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TANGSL_KHO_PN]    Script Date: 9/11/2023 9:02:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_TANGSL_KHO_PN]
   @MAHH NCHAR(10),  @SOLUONG INT
AS
BEGIN
	SET XACT_ABORT ON 
	BEGIN DISTRIBUTED TRANSACTION;

-- Update SOLUONG from local instance.
	UPDATE DBO.HangHoa
	SET SOLUONGTON = SOLUONGTON + @SOLUONG
	WHERE MAHH = @MAHH

  COMMIT TRANSACTION;
END
GO
USE [master]
GO
